.error {
    color: indianred;
    font-family: "Roboto";
    font-size: 14px;
    align: left;
    margin-bottom: 5px;
    display: none;
}

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}
.example-modal .modal {
    background: transparent!important;
}