<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <!-- Specifying base package of the Components like Controller, Service, DAO -->
    <context:component-scan base-package="com.bank.mvc.controllers, com.bank.mvc.domain.service, com.bank.mvc.dao, com.bank.mvc.utils"/>
    <!-- Getting Database properties -->
    <context:property-placeholder location="classpath:META-INF/hibernate.properties"/>

    <mvc:annotation-driven />
    <!-- Specifying the Resource location to load JS, CSS, Images etc -->
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <!-- View Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- DataSource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${database.driverClass}"/>
        <property name="jdbcUrl" value="${database.url}"/>
        <property name="user" value="${database.username}"/>
        <property name="password" value="${database.password}"/>

        <property name="acquireIncrement" value="${connection.acquireIncrement}"/>
        <property name="minPoolSize" value="${connection.minPoolSize}"/>
        <property name="maxPoolSize" value="${connection.maxPoolSize}"/>
        <property name="maxIdleTime" value="${connection.maxIdleTime}"/>
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <!--<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>-->
            </props>
        </property>
        <property name="packagesToScan" value="com.bank.mvc.models"></property>
    </bean>

<!-- Transaction -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
          p:basename="/WEB-INF/messages"/>

    <!-- Spring Security-->
    <security:global-method-security pre-post-annotations="enabled" />

    <security:http pattern="/css/**" security="none" />
    <security:http pattern="/images/**" security="none" />
    <security:http pattern="/js/**" security="none" />

    <security:http auto-config="true" use-expressions="true">
        <!--<security:access-denied-handler error-page="/access_denied"/>-->
        <security:form-login login-page="/"
                             login-processing-url="/login" username-parameter="username"
                             password-parameter="password" default-target-url="/dashboard"
                             always-use-default-target="true"
                             authentication-failure-url="/?error=invalidLoginPassword" />

    <security:intercept-url pattern="/dashboard" access="hasAnyRole('ROLE_CLIENT', 'ROLE_ADMIN')" />
    <security:logout logout-url="/logout" logout-success-url="/" />
    <security:remember-me user-service-ref="userServiceImpl" key="bank_key" />

</security:http>


<security:authentication-manager>
    <security:authentication-provider
            user-service-ref="userServiceImpl">
        <security:password-encoder ref="passwordEncoder" />
    </security:authentication-provider>
</security:authentication-manager>

    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <property name="rolePrefix" value="" />
    </bean>


</beans>