<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd">


    <context:component-scan base-package="com.bank.mvc.domain.service, com.bank.mvc.utils"/>

    <security:http pattern="/css/**" security="none" />
    <security:http pattern="/images/**" security="none" />
    <security:http pattern="/js/**" security="none" />

    <security:http auto-config="true" use-expressions="true">
        <!--<security:access-denied-handler error-page="/access_denied"/>-->
        <security:form-login login-page="/"
                             login-processing-url="/login" username-parameter="username"
                             password-parameter="password" default-target-url="/dashboard/redirect"
                             always-use-default-target="true"
                             authentication-failure-url="/?error=invalidLoginPassword" />

        
        <security:intercept-url pattern="/dashboard/client/**" access="hasRole('ROLE_CLIENT')" />
        <security:intercept-url pattern="/dashboard/employee/**" access="hasRole('ROLE_EMPLOYEE')" />
        <security:intercept-url pattern="/dashboard/admin/**" access="hasRole('ROLE_ADMIN')" />

        <security:logout logout-url="/logout" logout-success-url="/" />
        <security:remember-me user-service-ref="userServiceImpl" key="bank_key" />

    </security:http>


    <security:authentication-manager>
        <security:authentication-provider
                user-service-ref="userServiceImpl">
            <security:password-encoder ref="passwordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <property name="rolePrefix" value="" />
    </bean>
</beans>